<!doctype html>

<head>
    <title>Forgot Your Password</title>
</head>

<body>
    <h1>Here Is the Link To Reset Your Password!</h1>
    <h3>Valid Only for 10 minutes</h3>
    <div>
        Here Is Your Password Reset Link.
        <br />
        <a href="{{url}}"></a>
        <br />If You Did Not initiate this Request, Ignore This Email.
    </div>
</body>