<!doctype html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet" />
<link href="CSS/forgot.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
</script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Your Password?</title>
</head>

<body>
    <% if (message.length> 0) { %>
        <div class="alert alert-danger">
            <% if(message.length === 1) { %>
                <strong> <%= message %> </strong>
                <% } else { %>
                    <ul>
                        <% message.forEach(function(err) { %>
                            <li><strong> <%= err %> </strong></li>
                            <% }) %>
                    </ul>
                    <% } %>
        </div>
        <% } %>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
            <div class="form-gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3>
                                        <i class="fa fa-lock fa-4x"></i>
                                    </h3>
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>You can reset your password here.</p>
                                    <div class="panel-body">
                                        <form action="forgotPassword" autocomplete="off" class="form" id="register-form" method="post" role="form">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope color-blue"></i>
                    </span>
                                                    <input class="form-control" id="email" name="email" placeholder="email address" type="email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-lg btn-primary btn-block" name="recover-submit" type="submit" value="Reset Password" />
                                            </div>

                                            <input class="hide" id="token" name="token" type="hidden" value />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>